#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    transition: all 200ms linear;
    position: absolute;
    opacity: 0.96;
    z-index: 10000 !important;
}
ul#adminmenu {background: transparent;}
#wpcontent, #wpfooter { margin-left: 36px !important; }
.folded #wpcontent, .folded #wpfooter { margin-left: auto; }
.folded #adminmenu, .folded #adminmenu .wp-submenu, .folded #adminmenuback, .folded #adminmenuwrap {
    transition: all 100ms 0ms linear; 
    overflow-x: hidden;
    position: fixed;
    z-index: 10000 !important;
}
.folded #adminmenu .wp-submenu {transition: all 0ms 0ms linear !important; display: none;}
#adminmenu .wp-submenu {transition: all 0ms 0ms linear !important;}
.folded #adminmenu .wp-menu-name {
    display: inherit;
    opacity: 0;
    transition-delay: 0ms;
}
#adminmenu .wp-menu-name {
    opacity: 1;
    transition: all 200ms 200ms linear;
}
.wp-full-overlay a.collapse-sidebar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85) !important;
    bottom: 0;
    height: 100%;
    transform: translateX(-15px);
    width: 30px;
}
.wp-full-overlay.expanded {margin-left: 0px !important;}
.wp-full-overlay.expanded a.collapse-sidebar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0) !important;
    width: 0px;
}

.wp-full-overlay .collapse-sidebar-arrow:before, .collapse-sidebar-label {display: none;}